.button {
	@include transition(all 0.3s);
	border: 2px solid color(secondary,base);
	border-radius: 25px;
	color: color(primary,base);
	cursor: pointer;
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1;
	padding: 0.75em 1.2em;
	text-transform: uppercase;

	// &__icon {
	// 	width: 0.8em;
	// 	height: 0.8em;
	// }

	& + & {
		margin-top: 1rem;
	}

	&--margin-top {
		margin-top: 2em;
	}

	&--margin-bottom {
		margin-bottom: 2em;
	}

	&--center {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}

.button a {
	color: #fff;
}

.button:hover {
	box-shadow: inset 0px 0px 0px 2px color(primary,base);
	transition: .3s;
}