.img {
	width: 100%;
	height: auto;
}

.home {
	height: 100vh;
	position: relative;

	&::after{
		background-color: color(secondary,base);
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: -1;
		width: 30%;
    	right: 0;
	}

	&__container {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}



	&__img {
		position: relative;
	}

	&__text--hl {
		border-top: 10px solid color(primary,base);
		width: 5rem;
		position: absolute;
		top: 35px;
		right: 0;
		transform: translateX(120%);
	}

	&__text {
		position: relative;
	}
}

.scroll {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
}

.arrow-scroll {
	display: block;
	margin: auto;
	animation: scroll 1.0s ease-in alternate infinite;
}

@keyframes scroll {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(10px);
	}
  }

.scroll p {
	margin-bottom: 0.5em;
}