
.header {
	position: relative;
}



.header-logo {
	top: 10px;
	width: 5rem;
	height: auto;
	display: none;

	@media ( min-width: 850px ) {
		display: block;
	}
}

.header-nav {
	position: absolute;
	color: #ffffff;
	top: 10px;
	right: 0;
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	overflow-y: hidden;
	

	// @media ( min-width: 850px ) {
	// 	width: auto;
	// }


	&__level-1 {
		max-height: 0;
		width: auto;
		padding: 0;
		margin-top: auto;
		margin-bottom: auto;

		@media ( min-width: 850px ) {
			max-height: 1000px;
		}
	}

	&__level-1__item{
		margin-bottom: 0;
	}

	&__level-1__item__link {
		@extend .remove-link-style;
		color: #ffffff;
		display: block;
		font-size: 0.8rem;
		text-transform: lowercase;
		padding: 7px;
	}

	&__level-1__item:hover .header-nav__level-1__item__link,
	&__level-1__item:focus .header-nav__level-1__item__link,
	&__level-1__item.is-active .header-nav__level-1__item__link {
		color: color(secondary,base);
	}

	@media ( min-width: 850px ) {
		&__level-1__item {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__vl {
		border-left: 2px solid #ffffff;
  		height: 1.5rem;
	}
}

//mobile nav hamburger

.header-nav__level-1.is-open {
	min-height: 100vh;
	background-color: color(primary,base);
	width: 100%;
}

.header-hamburger {
	font-size: 40px;
	height: 30px;
	width: 30px;
	//border: 1px solid color(secondary,base);
	position: absolute;
	right: $row-gutter-width + $gutter;
	top: 5%;

	@media ( min-width: 850px ) {
		display: none;
	}
}

.header-hamburger.is-active {
	top: 5%;
}

.header-hamburger__bar {
	width: 30px;
	height: 3px;
	background-color: #ffffff;
	margin: 5px 0;
	transition: 0.4s;
}

.header-hamburger.is-active .header-hamburger__bar--1 {
	transform: rotate(-45deg) translate(-4px, 3px);
}

.header-hamburger.is-active .header-hamburger__bar--2 {
	opacity: 0;
}

.header-hamburger.is-active .header-hamburger__bar--3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

